@import "variables";

/*Så er der ingen uønsket margin*/

body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
    margin: $marginnone;
    padding: $marginnone;
}


/*Min wrapper*/

.wrapper {
    margin: $marginnone auto;
    width: 1366px;
    max-width: 100%;
    background-color: #efeae2;
}

header {
    background-color: #FFC63C;
    height: 270px;
}


/*Logo class*/

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 24%;
    h1 {
        color: $textcolor;
        font-family: $h1family;
        text-align: center;
        padding-top: 20px;
    }
    /*Billedet i header*/
    .medlem {
        float: right;
        img {
            width: 150px;
        }
    }
}


/*Min menu*/

.menu {
    nav {
        li {
            display: inline-block;
            margin-left: 5.5%;
        }
        a {
            color: $textcolor;
            font-family: $pfamily;
            text-decoration: none;
            &:active {
                text-decoration: underline #041B87;
            }
        }
    }
}


/*Section med log ind*/

section {
    float: right;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}


/*Main*/

main {
    margin: $marginnone auto;
    background-color: white;
    width: 1200px;
    max-width: 100%;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*Post class med artikler*/
    .post {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 75%;
        /*Article*/
        article {
            border-bottom: 2px dotted black;
            padding-bottom: 1%;
            padding-top: 2%;
            h1 {
                font-family: $h1family;
                color: $textcolor;
            }
            p {
                font-family: $pfamily;
            }
        }
    }
    /*Aside*/
    aside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 858px;
        float: right;
        padding-right: 2%;
        h3 {
            font-family: $h1family;
            color: $textcolor;
        }
        img {
            border: solid #dddddd 1px;
            margin-top: 5%;
        }
    }
}


/*Footer*/

footer {
    background-color: #FFC63C;
    margin-top: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 4%;
    p {
        color: #041B87;
        font-family: $pfamily;
    }
    img {
        width: 40px;
    }
}