@charset "UTF-8";
/*Så er der ingen uønsket margin*/
/* line 5, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
  margin: 0px;
  padding: 0px; }

/*Min wrapper*/
/* line 20, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
.wrapper {
  margin: 0px auto;
  width: 1366px;
  max-width: 100%;
  height: 1700px;
  background-color: #efeae2; }

/* line 28, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
header {
  background-color: #FFC63C;
  height: 270px; }

/*Logo class*/
/* line 36, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 24%;
  /*Billedet i header*/ }
  /* line 41, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  .logo h1 {
    color: #041B87;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding-top: 20px; }
  /* line 48, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  .logo .medlem {
    float: right; }
    /* line 50, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    .logo .medlem img {
      width: 150px; }

/*Min menu*/
/* line 61, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
.menu nav li {
  display: inline-block;
  margin-left: 5.5%; }

/* line 65, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
.menu nav a {
  color: #041B87;
  font-family: "Raleway", serif;
  text-decoration: none; }
  /* line 69, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  .menu nav a:active {
    text-decoration: underline #041B87; }

/*Section med log ind*/
/* line 79, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
section {
  float: right;
  width: 420px;
  display: flex;
  flex-wrap: wrap; }
  /* line 84, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  section a {
    text-decoration: none; }

/*Main*/
/* line 92, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
main {
  margin: 0px auto;
  background-color: white;
  width: 1200px;
  max-width: 100%;
  height: 1350px;
  max-height: 100%;
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*Col classer*/
  /*Aside*/ }
  /* line 104, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .col1,
  main .col2,
  main .col3,
  main .col4 {
    width: 23%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 1%;
    padding-left: 2%; }
    /* line 113, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .col1 img,
    main .col2 img,
    main .col3 img,
    main .col4 img {
      max-width: 100%; }
    /* line 116, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .col1 h1,
    main .col2 h1,
    main .col3 h1,
    main .col4 h1 {
      max-width: 100%;
      padding-bottom: 5%;
      font-family: "Libre Baskerville", serif; }
    /* line 121, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .col1 p,
    main .col2 p,
    main .col3 p,
    main .col4 p {
      max-width: 100%;
      padding-bottom: 5%;
      width: 250px;
      font-family: "Raleway", serif; }
  /* line 128, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .document {
    background-color: #d7944d;
    color: white;
    width: 250px;
    max-width: 100%;
    text-align: center;
    height: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 0; }
    /* line 139, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .document h2 {
      font-family: "Libre Baskerville", serif; }
  /* line 143, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .link {
    background-color: #77d1ef;
    color: white;
    width: 250px;
    max-width: 100%;
    text-align: center;
    height: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 10px 0; }
    /* line 154, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .link h2 {
      font-family: "Libre Baskerville", serif; }
  /* line 158, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .marked {
    background-color: #4d8ea3;
    color: white;
    width: 250px;
    max-width: 100%;
    text-align: center;
    height: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 0; }
    /* line 169, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .marked h2 {
      font-family: "Libre Baskerville", serif; }
  /* line 173, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .events {
    background-color: #ffa84d;
    color: white;
    width: 250px;
    max-width: 100%;
    text-align: center;
    height: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 10px 0; }
    /* line 184, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main .events h2 {
      font-family: "Libre Baskerville", serif; }
  /* line 188, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main .fa-2x {
    padding-bottom: 5%; }
  /* line 192, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  main aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 708px; }
    /* line 197, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
    main aside img {
      width: 17%; }

/*Footer*/
/* line 206, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
footer {
  background-color: #FFC63C;
  margin-top: 10px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding-top: 4%; }
  /* line 215, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  footer p {
    color: #041B87;
    font-family: "Raleway", serif; }
  /* line 219, C:/xampp/htdocs/Isl-ndere/CSS/style.scss */
  footer img {
    width: 40px; }

/*# sourceMappingURL=style.css.map */